{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <input type="submit" value="Salvar" class="default" name="_save">
        <input type="submit" value="{% trans 'Save and add another' %}" name="_addanother">
        <input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue">
        <a href="{% url 'admin:auth_user_changelist' %}" class="button cancel-link">Cancelar</a>
    </div>
{% endblock %}
